.a{
    display: flex;
    background-color:whitesmoke;
    max-width: 40%;
    margin: auto;
}


app-calc-result{
    background-color:rgb(65, 180, 170);

}
app-calc-input{
    background-color: gray;
    margin: auto;
    size: 67px;

}
